.topics{
    display: flex;
       gap: 20px;
       padding-left: 750px;
       font-size: larger;
       
    }
    
    .header{
        display: flex;
        background-color: rgb(12, 12, 12);
        padding: 20px;
    }
    .heading{
        color: azure;
    }